body {
    width: auto;
    background-color: cornsilk;
}
h1, h2 {
    color: orange;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

p, h2, ol, ul {
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

p.intro {
    margin-left: 0%;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

.img {
    width: 72;
    height: 72;
}

h1 {
    border-bottom: 2px solid orange;
    text-align: center;
    letter-spacing: 0.1em;
    word-spacing: -0.2em;
}
li, p {
    line-height: 200%;
}
ul {
    list-style-type: disc;
}

a:link {
    color: maroon;
}

a:visited {
    color: grey;
}